arduino-ide/
Arduino IDE/
autostart/
baloofileinformationrc
Bitwarden/
blender/
Catobyte/
chromium/
cmus/
Code/
configstore/
copyq/
dconf/
discord/
Docker Desktop/
dolphinrc
Electron/
filetypesrc
flutter/
glib-2.0/
go/
google-chrome/
gtk-3.0/
ivia/
kde.org/
kdenlive-layoutsrc
kdenliverc
kiorc
Kitware/
Logseq/
ls.txt
menus/
mimeapps.list
ngrok/
nvim/
obs-studio/
obsidian/
pavucontrol.ini
pgadmin4/
pulse/
qalculate/
QtProject.conf
qutebrowser/
ranger/
SalSoft/
session/
spotify/
superfile/
systemd/
Thunar/
trashrc
unity3d/
user-dirs.locale
vlc/
xfce4/
yay/
zoom.conf
zoomus.conf
