// includes/animations.kdl

animations {
    // off

    slowdown 0.9

    window-open {
        duration-ms 200
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 200
        curve "ease-out-expo"
    }

    workspace-switch {
        spring damping-ratio=0.7 stiffness=1000 epsilon=0.0005
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=0.7 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
