// includes/layer-rules.kdl

layer-rule {
    match namespace="awww-daemon"
    match at-startup=true
    geometry-corner-radius 12

    place-within-backdrop true
    // opacity 0.9

    block-out-from "screencast"

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 3
    }


}

layer-rule {
    match namespace="rofi"
    match namespace="waybar"
    match namespace="&mako^"

    // opacity 0.85

    background-effect {
        xray true
        blur true
        noise 0
        saturation 1
    }

    geometry-corner-radius 10
}
