// includes/outputs.kdl

output "eDP-1" {
    focus-at-startup

    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.

    mode "2560x1600"
    // mode "2560x1600@60.029"
    // mode "2560x1600@165.040"

    scale 1.0

    transform "normal"
    position x=0 y=1080
}

output "HDMI-A-1" {
    mode "1920x1080@144.013"
    // mode "3840x2160@59.940"
    scale 1

    position x=0 y=0
}
