// includes/startup.kdl

// spawn-at-startup "waybar"
// spawn-at-startup "xwayland-satellite"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store &"
spawn-sh-at-startup "wl-paste --type image --watch cliphist store &"
spawn-sh-at-startup "swww-daemon"
spawn-sh-at-startup "swww img --transition-step 15 ~/.config/wallpapers/flexoki-dark-orb.png"
