// includes/window-rules.kdl

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    default-column-width { fixed 835; }
}

window-rule {
    match app-id="firefox"
    match app-id="Claude"
    match app-id="obsidian"
    match app-id="org.telegram.desktop"


    open-floating false
    open-maximized true
}

window-rule {
    match app-id="Alacritty"
    opacity 0.95
}

window-rule {
    match app-id="Bitwarden"
    match app-id="obsidian"
    match app-id="org.telegram.desktop"

    block-out-from "screencast"
}

window-rule {
    match app-id="org.gnome.Nautilus"
    match title="Nautilus"
    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 550; }
}

