// includes/window-rules.kdl

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
    default-column-width { fixed 835; }
}

window-rule {
    match app-id="firefox"
    match app-id="Claude"
    match app-id="obsidian"
    match app-id="org.telegram.desktop"
    match app-id="spotify"

    open-maximized true
}

window-rule {
    match app-id="Alacritty"
    match at-startup=true
    open-on-output "eDP-1"
    open-on-workspace "1"
    opacity 0.95
}

window-rule {
    match app-id="org.gnome.Nautilus"
    match title="Nautilus"
    match at-startup=true
    match is-floating=true
    open-floating true
    default-column-width { fixed 900; }
    default-window-height { fixed 550; }
}

window-rule {
    match app-id="Bitwarden"
    geometry-corner-radius 0

    block-out-from "screencast"
    focus-ring {
        on
        width 2
        active-gradient from="#D14D41" to="#DA702C" angle=45
    }

}
