@import "flexoki-full.css";

* {
	font-family: "IosevkaTerm Nerd Font Propo";
    font-weight: 500;
    font-size: 15;
    margin: 1px 2px;
    padding: 0;
    transition: .2s;
}

window#waybar {
    /* background: rgba(0, 0, 0, 0); */
    background: @bg;
    color: @tx;
	margin: 20px 30px;
    transition-duration: .02s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces {
    padding: 0 2px;
    background: @bg;
    border-radius: 5px;
}

#workspaces button {
    color: @tx;
    background: @bg;
    border-radius: 5px;
    transition-duration: 0.04s;
}

#workspaces button:hover {
    color: @tx;
    background: @bg-2;
    border-radius: 5px;
}

#workspaces button.active {
	font-weight: 900;
    background: @bg;
    color: @tx;
    padding: 0 1px;
    border-radius: 5px;
}

#workspaces button.empty {
    color: @tx-2;
}

#workspaces button.urgent {
    background-color: @re;
    color: @bg;
    border-radius: 5px;
}


#mpris.spotify {
    background: @gr;
    color: @bg;
}

#mpris.firefox,
#mpris.zen-browser,
#mpris.vlc {
    background: @or;
    color: @bg;
}

#mpris.TelegramDesktop, 
#mpris.chromium {
    background: @bl;
    color: @bg;
}


#clock,
#user,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#custom-hardware,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#language,
#scratchpad,
#mpris,
#mpris.paused,
#power-profiles-daemon,
#mpd {
    padding: 0 8px;
    color: @tx;
    background: @bg;
    border-radius: 5px
}


#language,
#network,
#bluetooth,
#pulseaudio {
    margin: 0;
    border-radius: 0;
}

#language {
    margin-left: 2px;
    font-weight: 700;
    border-radius: 5px 0 0 5px;
}

#bluetooth {
    margin-right: 2px;
    border-radius: 0 5px 5px 0;
}

#cpu,
#memory,
#disk,
#temperature {
    margin: 0;
    border-radius: 0;
}

#cpu {
    margin-left: 2px;
    border-radius: 5px 0 0 5px;
}

#temperature {
    margin-right: 2px;
    border-radius: 0 5px 5px 0;
}


#language.us {
    color: @re;
}

#language.ru {
    color: @bl;
}

#language.kz {
    color: @ye;
}


#custom-logo,
#custom-drive_line_right,
#custom-drive_line_left {
    padding: 0 10px;
    color: @tx;
    background: @bg;
    border-radius: 5px;
}

#custom-logo:hover {
    color: @bg;
    background: @tx;
}

#mpris.playing {
    border-radius: 5px;
}


#mpris.stopped {
    background: @re;
    color: @bg;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    background: @gr;
    color: @bg;
	font-weight: 800;
}

@keyframes blink-critical {
    to {
        background-color: @re;
        color: @bg;
    }
}

@keyframes blink-warning {
    to {
        background-color: @or;
        color: @bg;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @re;
    animation-name: blink-critical;
    animation-duration: 0.3s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#battery.warning:not(.charging) {
    color: @or;
    animation-name: blink-warning;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    color: @re;
}

#power-profiles-daemon.power-saver {
    color: @gr;
}

#power-profiles-daemon.performance:hover {
    background: @re;
    color: @bg;
}

#power-profiles-daemon.balanced:hover {
    background: @tx;
    color: @bg;
}

#power-profiles-daemon.power-saver:hover {
    background: @gr;
    color: @bg;
}

label:focus {
    background-color: #000000;
}


#network.disconnected {
    background-color: @re;
    color: @bg;
}

#temperature.critical {
    background-color: @re;
    color: @bg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @re;
    color: @bg;
}

#drive {
    margin: 0
}

tooltip {
    border: 1px @tx-2 solid;
    background-color: @bg-2;
    color: @tx;
}

tooltip label {
    background-color: @bg-2;
    color: @tx;
    box-shadow: none;
}
