@import "flexoki-dark.css";

* {
	font-family: "IosevkaTerm Nerd Font Propo";
    font-weight: 500;
    font-size: 15;
    margin: 0;
    padding: 0;
    transition: .2s;
}

window {
	margin: 0px;
}

window#waybar {
    margin-top: 10px;
    background: @bg;
	margin: 20px 30px;
    transition-duration: .2s;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces {
    padding: 0 2px;
}

#workspaces button {
    padding: 0 2px;
    color: @tx;
    border-radius: 5px;
}

#workspaces button:hover {
    color: @tx;
    background: @ui-3;
    border-radius: 5px;
}

#workspaces button.active {
	font-weight: 900;
    background: @tx;
    color: @bg;
    padding: 0 5px;
    border-radius: 5px;
}

#workspaces button.urgent {
    background-color: @re;
    color: @bg;
    border-radius: 5px;
}


#clock,
#user,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#custom-hardware,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#scratchpad,
#mpris,
#power-profiles-daemon,
#mpd {
    padding: 0 8px;
    color: @tx;
    background: @bg;
}

#custom-logo {
    padding: 0 10px;
    color: @tx;
    background: @bg;
    border-radius: 5px;
}

#custom-logo:hover {
    color: @bg;
    background: @tx;
}

#mpris.playing {
    border-bottom: #F0EBDD 1px solid;
    border-top: #F0EBDD 1px solid;
    border-right: rgba(0, 0, 0, 0) 1px solid;
    border-left: rgba(0, 0, 0, 0) 1px solid;
}

#mpris.paused  {
    border-bottom: rgba(0, 0, 0, 0) 1px solid;
    border-top: rgba(0, 0, 0, 0) 1px solid;
    border-right: #F0EBDD 1px solid;
    border-left: #F0EBDD 1px solid;
}

#mpris.stopped {
    background: #D14D41;
    color: #261312;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    background: @gr;
    color: @bg;
	font-weight: 800;
}

@keyframes blink-critical {
    to {
        background-color: @re;
        color: @bg;
    }
}

@keyframes blink-warning {
    to {
        background-color: @or;
        color: @bg;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: @re;
    animation-name: blink-critical;
    animation-duration: 0.3s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#battery.warning:not(.charging) {
    color: @or;
    animation-name: blink-warning;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    color: @re;
}

#power-profiles-daemon.balanced {
    color: @tx;
}

#power-profiles-daemon.power-saver {
    color: @gr;
}

#power-profiles-daemon.performance:hover {
    background: @re;
    color: @bg;
}

#power-profiles-daemon.balanced:hover {
    background: @tx;
    color: @bg;
}

#power-profiles-daemon.power-saver:hover {
    background: @gr;
    color: @bg;
}

label:focus {
    background-color: #000000;
}


#network.disconnected {
    background-color: #D14D41;
}

#temperature.critical {
    background-color: #D14D41;
    color: #261312;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #D14D41;
    color: #261312;
}
