/* :root {
    --background: #171A1D;
    --color-widget: #2C3034;
} */

* {
    /* `otf-font-awesome` is required to be installed for icons */
	/* font-family: JetBrainsMonoNerdFontPropo; */
	font-family: IosevkaTermNerdFontPropo;
	/* font-family: VictorMonoNerdFontPropo; */
    font-weight: 500;
    font-size: 26px;
    margin: 0;
    /* color: #1F1F28; */
    /* background: #DCD7BA; */
}

window {
	margin: 10px;
}

window#waybar {
    /* background: #171A1D; */
    background: rgba(255, 255, 255, 0);
	margin: 20px 30px;
    color: #fff;
    transition-property: background-color;
    transition-duration: .5s;
	padding: 10px;
}

window#waybar.hidden {
    opacity: 0.2;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}



#workspaces {
    background-color: #DCD7BA;
	border: 0;
    border-radius: 0px;
    padding: 0 3px;
}

#workspaces button {
    padding: 0 1px;
	margin: 3px;
    color: #1F1F28;
}

#workspaces button:hover {
    color: #1F1F28;
    background: #F0EBDD;
    border-radius: 5px;
}

#workspaces button.active {
	font-weight: 900;
    background: #1F1F28;
    color: #F0EBDD;
    border-radius: 5px;
    border: 1px solid #1F1F28;
}

#workspaces button.urgent {
    background-color: #FF5D62;
    border-radius: 5px;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#custom-hardware,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#language,
#scratchpad,
#mpris,
#mpd {
    padding: 0 15px;
    color: #1F1F28;
    background: #DCD7BA;
    border: #DCD7BA 2px solid;
    border-radius: 5px;
}

#custom-logo,
#user,
#custom-power,
#custom-reboot,
#custom-suspend,
#power-profiles-daemon,
#custom-countdown {
    padding: 0 15px;
    color: #1F1F28;
    background: #DCD7BA;
    border: #DCD7BA 2px solid;
    border-radius: 0px;
}

#custom-logo {
    color: #1F1F28;
    transition: .5s;
}

#custom-logo:hover {
    background: #1F1F28;
    color: #DCD7BA;
}

#custom-power {
    color: #E82424;
    transition: .5s;
}

#custom-power:hover {
    background: #FF5D62;
    color: #1F1F28;
}

#custom-reboot {
    color: #FF9E3B;
    transition: .5s;
}

#custom-reboot:hover {
    background: #E6C384;
    color: #1F1F28;
}

#custom-suspend {
    color: #658594;
    transition: .5s;
}

#custom-suspend:hover {
    background: #7FB4CA;
    color: #1F1F28;
}

#network {
    border-radius: 5px 0 0 5px;
}

#bluetooth {
    border-radius: 0 5px 5px 0;
}

#group_hardware, #group_g, #group_gg, #group_logo {
    background: #DCD7BA;
    border: 0px #DCD7BA solid;
    border-radius: 0px;
}

#pulseaudio {
    transition: 3ms;
}

#pulseaudio {
    border-radius: 5px 0 0 5px;
}

#backlight {
    border-radius: 0;
}

#battery {
    border-radius: 0 5px 5px 0;
}

/* you can set a style on hover for any module like this */

#window,

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging, #battery.plugged {
    background: #98BB6C;
	font-weight: 800;
}

@keyframes blink {
    to {
        background-color: #FF5D62;
        color: #1F1F28;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    color: #FF5D62;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    background: #FF5D62;
}

#power-profiles-daemon.balanced {
    background: #7FB4CA;
}

#power-profiles-daemon.power-saver {
    background: #98BB6C;
}

label:focus {
    background-color: #000000;
}


#network.disconnected {
    background-color: #FF5D62;
}

#pulseaudio.muted {
    background-color: #A3D4D5;
    color: #2A2A37;
}

#wireplumber.muted {
    background-color: #FF5D62;
}


#mpris.spotify {
    color: #1F1F28;
    background-color: #1ED760;
    border: #1ED760 2px solid;
}

#mpris.chromium {
    color: #1F1F28;
    background-color: #4285F4;
    border: #4285F4 2px solid;
}

#mpris.firefox {
    color: #1F1F28;
    background-color: #FF7139;
    border: #FF7139 2px solid;
}

#mpris.vlc {
    color: #1F1F28;
    background-color: #FF8800;
    border: #FF8800 2px solid;
}

/* #mpris.playing { */
/*     border: #DCD7BA 2px solid; */
/* } */

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
