// config.kdl

include "includes/inputs.kdl"
include "includes/outputs.kdl"
include "includes/layout.kdl"
include "includes/animations.kdl"
include "includes/window-rules.kdl"
include "includes/layer-rules.kdl"
include "includes/binds.kdl"
include "includes/startup.kdl"


hotkey-overlay {
    skip-at-startup
}

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

