[Unit]
Description=Quickshell emoji menu
Documentation=file://%h/.config/quickshell/emojimenu/README.md
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/qs -c emojimenu
Restart=on-failure
RestartSec=2s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
