[Unit]
Description=Quickshell status bars
Documentation=file:///home/yerza/.config/quickshell/switch_lang/README.md
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/qs -p /home/yerza/.config/quickshell/switch_lang/shell.qml
Restart=on-failure
RestartSec=2s
TimeoutStopSec=5s

[Install]
WantedBy=graphical-session.target
